.input-1 input {
    width: 330px;
    border: none;
    outline: none;
    padding-left: 10px;
}
.input-1 div {
    width: 120px;
    display: flex;
    align-items: center;
    height: 30px;
    border-right: 1px solid rgb(176, 176, 176);
    box-sizing: border-box;
    padding-left: 10px;
    background-color: rgb(242, 242, 242);
}
.input-1 {
    border: 1px solid #aaa;
    width: fit-content;
    display: flex;
    padding: 1px;
    border-radius: 3px;
}
* {
    color: rgb(77, 78, 79);
}
#title-modal {
    text-align: center;
    font-size: 24px;
}
#describle-modal {
    width: 820px;
    box-sizing: border-box;
    text-align: center;
    margin-bottom: 20px;
}
.input-2 input {
    width: 198px;
    border: none;
    outline: none;
    padding-left: 10px;
}
.input-2 div {
    width: 120px;
    display: flex;
    align-items: center;
    height: 30px;
    border-right: 1px solid rgb(132, 132, 132);
    box-sizing: border-box;
    padding-left: 10px;
    background-color: rgb(242, 242, 242);
}
.input-2 {
    border: 1px solid #aaa;
    width: fit-content;
    display: flex;
    padding: 1px;
    border-radius: 3px;
}
.a-row {
    display: flex;
    width: 820px;
    justify-content: space-between;
    
}
.input-1 select {
    width: 342px;
    border: none;
    outline: none;
    padding: 0px 10px;
}
.input-3 div:nth-child(1) {
    width: 120px;
    display: flex;
    align-items: center;
    height: 30px;
    border-right: 1px solid rgb(132, 132, 132);
    box-sizing: border-box;
    padding-left: 10px;
    background-color: rgb(242, 242, 242);
}
.input-3 {
    padding: 1px;
    border-radius: 3px;
    box-sizing: border-box;
    border: 1px solid #aaa;
    width: fit-content;
    display: flex;
}
.input-3 input {
    width: 118px;
    border: none;
    outline: none;
    padding-left: 10px;
}
.input-3 div:nth-child(3) {
    width: 79.5px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-left: 1px solid rgb(132, 132, 132);
    background-color: rgb(242, 242, 242);
}
#box-input-1 {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
#modal {
    position: relative;
    padding: 30px;
    width: fit-content;
    border:2px solid #aaa ;
    border-radius: 5px;
}
#nutrition-infor {
    margin-top: 20px;
    width: 820px;
    box-sizing: border-box;
    height: 24px;
    border: 1px solid rgb(132, 132, 132);
    padding: 1px;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    color: rgba(26, 179, 148, 1);
}
.input-4 div:nth-child(1) {
    width: 120px;
    display: flex;
    align-items: center;
    height: 30px;
    border-right: 1px solid rgb(132, 132, 132);
    box-sizing: border-box;
    padding-left: 10px;
    background-color: rgb(242, 242, 242);
}
.input-4 {
    padding: 1px;
    border-radius: 3px;
    box-sizing: border-box;
    border: 1px solid #aaa;
    width: fit-content;
    display: flex;
}
.input-4 input {
    width: 230.5px;
    border: none;
    outline: none;
    padding-left: 10px;
}
.input-4 div:nth-child(3) {
    width: 33.5px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-left: 1px solid rgb(132, 132, 132);
    background-color: rgb(242, 242, 242);
}
#box-input-2 {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.macro-infor{
    margin-top: 20px;
    text-align: center;
    font-size: 24px;
}
.input-5 div:nth-child(1) {
    width: 120px;
    display: flex;
    align-items: center;
    height: 30px;
    border-right: 1px solid rgb(132, 132, 132);
    box-sizing: border-box;
    padding-left: 10px;
    background-color: rgb(242, 242, 242);
}
.input-5 {
    padding: 1px;
    border-radius: 3px;
    box-sizing: border-box;
    border: 1px solid #aaa;
    width: fit-content;
    display: flex;
    width: 262px;
}
.input-5 input {
    width: 106.5px;
    border: none;
    outline: none;
    padding-left: 10px;
}
.input-5 div:nth-child(3) {
    width: 33.5px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-left: 1px solid rgb(132, 132, 132);
    background-color: rgb(242, 242, 242);
}
#box-input-3 {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
footer{
    display: flex;
    justify-content: flex-end;
    gap: 5px;
}
#cancel{
    background-color: transparent;
    padding: 6px;
    border-radius: 3px;
    border: 1px solid rgb(127, 127, 127);
}
#save-and-close{
    background-color: transparent;
    padding: 7px;
    border-radius: 3px;
    border: none;
    background-color:rgba(26, 179, 148, 1) ;
    color: white;
}
button:hover{
    cursor: pointer;
}
#close{
    background-color: transparent;
    border: none;
    font-size: 24px;
    position: absolute;
    top: 5px;
    right: 5px;

}